* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.upperbar {
  background-color: black;
  font-family: "times new roman", times;
  padding: 10px;
  text-align: center;
  color: white;
}

.upperbar-two {
  border-top: 4px solid #7bae23;
  display: flex;
  background-color: #f9f9f9;
  justify-content: flex-end;
}

.upperbar-two > a {
  color: black;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
}

.upperbar-two > a:hover,
a:active {
  color: red;
  text-decoration: none;
}

.nav-upper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-icon {
  font-size: 36px;
  cursor: pointer;
  color: #7bae23;
  position: relative;
}
.cart-icon-bage {
  padding: 3px 6px;
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: rgb(223, 86, 22);
  border-radius: 50%;
  right: -5px;
  top: 5px;
}

.nav-upper input[type="text"] {
  background-color: #f9f9f9;
  padding: 6px;
  width: 500px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

.nav-upper button {
  float: right;
  color: white;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(223, 86, 22);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav-header {
  background-color: #7bae23;
  color: white;
  font-size: smaller;
  padding: 2px;
  margin-bottom: 5px;
}

.nav-bar-links {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.plain-white-link,
.plain-white-link:hover {
  color: white;
  text-decoration: none;
}

.sub-menu {
  /* display: none; */
  border-top: 5px solid blue;
  background-color: #f9f9f9;
  color: rgb(66, 65, 65);
}

.menu-row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex-direction: column;
  padding: 10px;
}

.col-item > a {
  color: black;
  padding: 10px;
  text-decoration: none;
}

.col-item > a:hover {
  text-decoration: underline;
}

.offers {
  display: flex;
  flex-direction: row;
}

.side-pics {
  border: 1px solid #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f9f9f9;
  margin-top: 50px;
}

.info-block {
  display: flex;
  flex-direction: row;
}

.info-block > .icon-style {
  padding: 10px;
  align-self: center;
  font-size: 48px;
  color: #7bae23;
}

.bundle-offers {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 20px;
}

.myProductSt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.offer-link {
  color: black;
  text-decoration: none;
}

.offer-link:hover {
  text-decoration: underline;
}

.outer-divProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button4 {
  border-radius: 30px;
  background-color: #f4511e;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.cart {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  color: black;
  background-color: #f9f9f9;
  z-index: 1;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  font-size: 24px;
}
.cart-header {
  background-color: #7bae23;
  color: white;
  display: flex;
  justify-content: space-between;
}
.cart-content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}
.display-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cart-button {
  width: 80%;
}
.cart-div {
  padding: 10px;
}
.cart-item-image {
  width: 100px;
  height: 100px;
}
.item-in-cart {
  font-size: 15px;
}
.item-in-cart > ul > li {
  list-style-type: none;
  background-color: white;
}
.bg-color {
  background-color: #f9f9f9;
}

.offers-images {
  width: 250px;
}

.third-last-footer {
  background-color: #f9f9f9;
  margin-bottom: 50px;
}

.para-heading {
  color: #333;
  margin-bottom: 0%;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
  max-width: 100%;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #f9f9f9;
  text-align: center;
}

.footer {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #7b858a;
  background-color: #292929;
}

.footer-one {
  display: flex;
  justify-content: space-around;
}

.footer-two {
  display: flex;
  justify-content: space-between;
}

.block {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.block-title {
  color: white;
  padding: 10px 0 10px 0;
}

.block-content {
  flex-direction: column;
}

.block-content a {
  color: #a8a8a8;
  text-decoration: none;
}

.block-content a:hover {
  color: #a8a8a8;
  text-decoration: underline;
}

.plain-black-link,
.plain-black-link:hover {
  color: black;
  text-decoration: none;
}

.category-item {
  background-color: white;
  margin: 20px;
  display: flex;
  align-items: center;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
}
.grid-item {
  background-color: #f9f9f9;
  font-size: 14px;
  text-align: center;
  margin: 10px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
