body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.upperbar{
  background-color: black;
  
  padding: 10px;
  text-align: center;
  color: white;
}



.footer{
  max-width:100%;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  
  color: #7B858A;
  background-color: #292929;
}
.footer-one{
  display:flex;
  justify-content: space-around;
  
  
}
.footer-two{
  display:flex;
  justify-content:space-between
}
.block{
  margin-top: 10vh;
  margin-bottom : 10vh;
  
}
.block-title{
  color:white;
  padding: 10px 0 10px 0;
}
.block-content{
  flex-direction: column;

}
.block-content a{
  color:#A8A8A8;
  text-decoration: none;
}
.block-content a:hover{
  color:#A8A8A8;
  text-decoration: underline;
}